*.*#
*.*~
*.prv
*.#*
robust-adaptation-cyclical-risk.pdf
*.pkl
*/.ipynb_checkpoints/*.ipynb
report-earths-future/paper-2018-robust-adaptation-cyclical-risk.pdf
*.nc
report-earths-future/reviewer-response.pdf
poster-nexus-conference/poster.out
report-earths-future/paper-2018-robust-adaptation-cyclical-risk.out
slides-IPSWD/presentation.out
